/* VSC logo */
img.logo {
	max-width: 300px;
}

/* page headings, use class page_title to apply */
h1.page_title {
    color: white;
    background-color: #d96c31;
}

span.td_name {
    font-weight: bold;
}

/* table style */
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 3px;
}

/* navigation bar */
p.navigation {
    text-align: center;
}
